In [1]:
import pandas as pd
import numpy as np
# Setup a simple dataframe
data = [['tom',100,'spades'],
        ['dick',110,'spades'],
        ['aaron',140,'clubs'],
        ['harry',120,'spades'],
        ['jack',130,'diamonds']]
#        ['jason',110,'spades']]

df=pd.DataFrame(data, columns=['Name','BMI','Dojo'])
df

    Name  BMI      Dojo
0    tom  100    spades
1   dick  110    spades
2  aaron  140     clubs
3  harry  120    spades
4   jack  130  diamonds

In [2]:
df.sort_values(by=['BMI','Dojo'], inplace=True)
df

    Name  BMI      Dojo
0    tom  100    spades
1   dick  110    spades
3  harry  120    spades
4   jack  130  diamonds
2  aaron  140     clubs

In [3]:
name1=df.iloc[0].Name
dojo1=df.iloc[0].Dojo

In [4]:
print(name1, dojo1)

tom spades

In [5]:
df

    Name  BMI      Dojo
0    tom  100    spades
1   dick  110    spades
3  harry  120    spades
4   jack  130  diamonds
2  aaron  140     clubs

In [12]:
def distribute_compettitors(df):
    resultList =[]

    while df.shape[0] > 1:
        name1=df.iloc[0].Name
        dojo1=df.iloc[0].Dojo
        name2=''
        dojo2=''
        for i in range(1,len(df)):
            if(df.iloc[i].Dojo!=dojo1):
                #print(i,"Different Dojo")
                name2=df.iloc[i].Name
                dojo2=df.iloc[i].Dojo
                break
            else:
                #print(i,"Same Dojo")
                b=0

        if(name2==''):
            name2=df.iloc[1].Name
            dojo2=df.iloc[1].Dojo

        print(name1, dojo1,'|', name2, dojo2)
        resultList.append([df.iloc[0].Name,df.iloc[0].BMI,df.iloc[0].Dojo])
        resultList.append([df.iloc[i].Name,df.iloc[i].BMI,df.iloc[i].Dojo])

        # remove the two names from the data frame
        df1=df[df.Name != name1]
        df=df1[df1.Name != name2]

    # if there is an odd number process the last one now0
    if((df.shape[0] % 2)!=0):
        name1=df.iloc[0].Name
        dojo1=df.iloc[0].Dojo
        print(name1, dojo1)
        resultList.append([df.iloc[0].Name,df.iloc[0].BMI,df.iloc[0].Dojo])

    #print(resultList)
    result_df=pd.DataFrame(resultList, columns=['Name','BMI','Dojo'])
    #print(result_df)
    return result_df

In [13]:
result=distribute_compettitors(df)
print('----')
print(result)

tom spades | jack diamonds
dick spades | aaron clubs
harry spades
----
    Name  BMI      Dojo
0    tom  100    spades
1   jack  130  diamonds
2   dick  110    spades
3  aaron  140     clubs
4  harry  120    spades